@use '../../Components/base.scss';
@import url(base.$font-import);

.colour-settings{

    height: 600px;
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    overflow: auto;

    .header-cs{
        font-family: base.$header-font;
        text-align: center;
        margin: 0;
        margin-bottom: 35px;
    }

    #background-and-text{
        display: grid;
        grid-template-columns: 220px 220px;
        column-gap: 50px;
        
        .input-field{
            width: 220px;
            margin-bottom: 5px;
        }
    }

    
}