@use '../../Components/base.scss';
@import url(base.$font-import);

.colour-settings{

    height: 600px;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    overflow: auto;
    scrollbar-color: #dadada white;
    scrollbar-width: thin;
    box-shadow:
  0 10px 3.1px rgba(0, 0, 0, 0.017),
  0 19.3px 7.4px rgba(0, 0, 0, 0.025),
  0 27.9px 13.9px rgba(0, 0, 0, 0.028),
  0 36.3px 24.8px rgba(0, 0, 0, 0.03),
  0 46.5px 46.4px rgba(0, 0, 0, 0.034),
  0 66px 111px rgba(0, 0, 0, 0.05)
;

    .header-cs{
        font-family: base.$header-font;
        text-align: center;
        margin: 0;
        margin-bottom: 35px;
    }

    #background-and-text{
        display: grid;
        grid-template-columns: 220px 220px;
        column-gap: 50px;
        
        .input-field{
            width: 220px;
            margin-bottom: 5px;
        }
    }   
}

.colour-settings::-webkit-scrollbar{
    width: 7px;
}

.colour-settings::-webkit-scrollbar-track{
    background: white;
    margin: 10px;
}

.colour-settings::-webkit-scrollbar-thumb{
    background: #dadada;
    border-radius: 15px;
}

.colour-settings::-webkit-scrollbar-thumb:hover{
    background: #c0c0c0;
}