@use '../base.scss';
@import url(base.$font-import);

$border-radius: 5px;
$border: 2px solid black;
$field-height: 45px;
$font-size: 25px;

.input-field{
    font-family: base.$input-font;
    border: $border;
    border-radius: $border-radius;
    height: $field-height;
    font-size: $font-size;
    padding-left: 10px;
}

.input-field:focus{
    outline: none;
}

.colour-picker{
    animation: showColourPicker 200ms forwards;
    width: fit-content;
    position:absolute;
}

.hidden{
    animation: hideColourPicker 100ms forwards;
}

@keyframes showColourPicker {
    from{
        opacity: 0;
        visibility: hidden;
    }
    
    to{
        opacity: 1;
    }
}

@keyframes hideColourPicker {
    from{
        opacity: 1;
    }
    
    to{
        opacity: 0;
        visibility: hidden;
    }
}

