@use '../base.scss';

.field{
    display: grid;
    grid-template-columns: 15vw 10vw;
    margin-top: 10px;
    position: relative;
}

.fields{
    width: fit-content;
}

.show{
    animation: showItems 200ms linear forwards;
}

.hide{
    animation: hideItems 200ms linear forwards;
}

.show-fields{
    animation: showFields 300ms linear forwards;
}

.hide-fields{
    animation: hideFields 300ms linear forwards;
}

@keyframes showItems {
    from{
        visibility: hidden;
        opacity: 0;
        left: -30px;
    }

    to{
        opacity: 1;
        left: 0px;
    }
}

@keyframes hideItems {

    from{
        opacity: 1;
        left: 0;
    }

    to{
        visibility: collapse;
        opacity: 0;
        left: -30px;
    }
    
}

@keyframes hideFields {
    from{
        opacity: 1;
    }

    to{
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes showFields {
    from{
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    to{
        opacity: 1;
    }
}