$font-import: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand&display=swap');
$primary-colour: #3EB489;
$secondary-colour: #7851A9;
$label-font-size: 18px;
$button-font-size: 16px;
$button-padding: 16px 12px;
$header-font: 'Press Start 2P', cursive;
$label-font: 'Quicksand', sans-serif;
$input-font: 'Quicksand', sans-serif;