.code-block-container{
    height: fit-content;
    max-height: 450px;
    width: 500px;
    background-color: #0F2433;
    border-radius: 10px;
    padding: 15px;
}

.copy{
    position: absolute;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.copy:active{
    color: rgb(207, 207, 207);
}

.variables{
    color: white;
}

.style-var{
    margin-left: 20px;
    color: white;
}